---
import Icon from '../elements/Icon.astro';

const data = [
  {
    icon: 'terminal-window',
    title: 'Web Developer',
    // description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.',
    list: [
      'Mockups: Balsamiq Wireframes',
      'Websites building: Astro, VueJS 3',
      'Deployments: OVHcloud, Vercel', //Netlify, Vercel, GitHub Pages, Heroku, DigitalOcean, AWS, Azure, Google Cloud
      'Browsers: WebExtensions API & Stores Deployment',
      'Code management: Git & GitHub', // GitLab, Bitbucket
      // 'Code editors: VS Code, Sublime Text, Atom, Brackets, Notepad++',
      // 'Command line: Windows, Linux, macOS',
      // 'Databases: MySQL, MongoDB, SQLite',
      // 'Servers: Apache, Nginx',
      // 'CMS: WordPress, Drupal, Joomla',
    ]
  },
  {
    icon: 'youtube-logo',
    title: 'Content Creator',
    // description: 'Neque viverra justo nec ultrices dui. Est ultricies integer quis auctor elit.',
    list: [
      'Socials: LinkedIn, YouTube', //Instagram
      'Editing: CapCut, DaVinci Resolve, Audacity',
      'Design: Canva', //Figma, Adobe XD
      // 'Leonardoo.ai'
    ]
  },
  {
    icon: 'strategy',
    title: 'Knowledge Manager',
    // description: 'Urna porttitor rhoncus dolor purus non enim praesent ornare.',
    list: [
      'Chatbots: Phind, Perplexity', //Manychat, Chatfuel, MobileMonkey
      'Second Brain: Obsidian + plugins', //Notion, Roam Research, Evernote, OneNote, , Google Keep
    ]
    // list: [
    //   'SEO, Google Analytics',
    //   'Social Media',
    //   'Content Marketing',
    //   'Email Marketing',
    // ]
  },
  // {
  //   icon: 'accessibility',
  //   title: 'Ergonomist designer',
  //   // description: 'Urna porttitor rhoncus dolor purus non enim praesent ornare.',
  //   list: [
  //     'Wireframes: Balsamiq Wireframes, Whimsical',
  //     'Mockups: Figma, Canva', //Figma, Adobe XD
  //   ]
  // }
]
---

<section class="box skills">
  { data.map((item) => (
    <div class="stack gap-2 lg:gap-4">
      <Icon icon={item.icon} color="var(--accent-regular)" size="2.5rem" gradient />
      <h2>{item.title}</h2>
      <p>{item.description ?? ''}</p>
      <ul class="list-disc list-inside">
        { item.list?.map((item) => (
          <li>{item}</li>
        ))}
      </ul>
    </div>
  ))}
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
