---

// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from '../layouts/BaseLayout.astro';

// Disposition imports
import ComplexSection from "../components/dispositions/ComplexSection.astro";

// Page section components
import IntroHeader from "../components/sections/IntroHeader.astro";
import ContactCTA from '../components/sections/ContactCTA.astro';

// Inside section components
import FeaturedWork from "../components/sections/FeaturedWork.astro";
import ExperienceTimeline from "../components/sections/ExperienceTimeline.astro";
import Degrees from "../components/sections/Learning.astro";
import Quotation from "../components/sections/Quotation.astro";
// import MentionsGallery from "../components/sections/MentionsGallery.astro";

---

<BaseLayout>
	<div class="stack gap-20 lg:gap-48">
		<IntroHeader />

		<main class="wrapper stack gap-20">

      <section class="section with-background with-cta">
        <header class="section-header stack gap-2 lg:gap-4">
            <h3>Selected Work</h3>
            <p>Take a look below at some of my featured work from the past few years:</p>
        </header>
			  <FeaturedWork />
      </section>

      <ComplexSection title="Experience"><ExperienceTimeline /></ComplexSection>
      <ComplexSection title="Learning"><Degrees /></ComplexSection>
      <ComplexSection title="Recommendations"><Quotation /></ComplexSection>

			<!--<section class="section with-background bg-variant">-->
			<!--	<header class="section-header stack gap-2 lg:gap-4">-->
			<!--		<h3>Recommendations</h3>-->
			<!--		<p>-->
			<!--			I have been fortunate enough to recieve praise for my work in several publications. Take-->
			<!--			a look below to learn more.-->
			<!--		</p>-->
			<!--	</header>-->

      <!--  <MentionsGallery />-->
			<!--</section>-->

		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.section {
		display: grid;
		gap: 2rem;
	}

	.with-background {
		position: relative;
	}

	.with-background::before {
		--hero-bg: var(--bg-image-subtle-2);

		content: '';
		position: absolute;
		pointer-events: none;
		left: 50%;
		width: 100vw;
		aspect-ratio: calc(2.25 / var(--bg-scale));
		top: 0;
		transform: translateY(-75%) translateX(-50%);
		background: url('/assets/backgrounds/noise.png') top center/220px repeat,
			var(--hero-bg) center center / var(--bg-gradient-size) no-repeat, var(--gray-999);
		background-blend-mode: overlay, normal, normal, normal;
		mix-blend-mode: var(--bg-blend-mode);
		z-index: -1;
	}

	.with-background.bg-variant::before {
		--hero-bg: var(--bg-image-subtle-1);
	}

	.section-header {
		justify-self: center;
		//text-align: center;
		max-width: 50ch;
		font-size: var(--text-md);
		color: var(--gray-300);
	}

	.section-header h3 {
		font-size: var(--text-2xl);
	}

	@media (min-width: 50em) {
		.section {
			grid-template-columns: repeat(4, 1fr);
			grid-template-areas: 'header header header header' 'gallery gallery gallery gallery';
			gap: 5rem;
		}

		.section.with-cta {
			grid-template-areas: 'header header header cta' 'gallery gallery gallery gallery';
		}

		.section-header {
			grid-area: header;
			font-size: var(--text-lg);
		}

		.section-header h3 {
			font-size: var(--text-4xl);
		}

		.with-cta .section-header {
			justify-self: flex-start;
			text-align: left;
		}

		.gallery {
			grid-area: gallery;
		}

		.cta {
			grid-area: cta;
		}
	}
</style>
