---
import Icon from 'astro-icon';
// import Icon from './Icon.astro';

let experienceData = [
  {
    company: 'LORIA',
    position: 'Analyst-developer Intern',
    duration: 'feb. - apr. 2023 (10 weeks)',
    // description: ['TODO']
  },
  {
    company: 'Hug journal - Independant',
    position: 'Blogger',
    duration: '2013 - 2019',
    // description: ['TODO']
  },
  {
    company: 'Le Cnam en Grand Est',
    position: 'Middle school internship',
    duration: 'dec. 2017 (1 week)',
    // description: ['TODO']
  },
  {
    company: 'Maurice Barrès middle school',
    position: 'Radio broadcaster',
    duration: 'sept. 2017 - jun. 2018',
    // description: ['TODO']
  },
  // More objects for other job experiences...
];

---

<section id="experience" class="redback">
    <!--<header>-->
    <!--  <h2>Experience</h2>-->
    <!--</header>-->
    <ul class="timeline container">
      {experienceData.map((experience, index) => {
        return (
                <li>
                    <div class="bg-circle"><span></span></div>
                    <div class="tl-badge"><Icon pack="bi" name="briefcase-fill" size="1.33em" /></div>
                    <!--<div class="tl-badge"><Icon icon="briefcase" size="1.33em" /></div>-->
                    <article class={`tl-panel-container-${index % 2 === 0 ? 'l' : 'r'}`}>
                        <section class="tl-panel">
                            <header class="tl-heading">
                                <h3>{experience.company}</h3>
                                <h4>{experience.position}</h4>
                                <p class="text-muted"><span class="bi-clock-fill"></span> {experience.duration}</p>
                            </header>
                            <div class="tl-body">
                              {experience.description?.map(paragraph => <p>{paragraph}</p>)}
                            </div>
                        </section>
                    </article>
                </li>
          );
        })
      }
    </ul>
</section>

<style>
#experience ul
{
    list-style: none;
}

.timeline {
    padding: 30px 10px;
    position: relative;
}

.timeline:before,
.tl-badge,
.bg-circle
{
    position: absolute;
    left: 50%;
}

.timeline:before {
    content: " ";
    top: 0;
    bottom: 0;
    width: 5px;
    background-color: #333;
    margin-left: -2.5px;
}

.timeline > li {
    margin-bottom:20px;
    position: relative;
}

.timeline > li:before,
.timeline > li:after
{
    content:" ";
    display:table;
}

.timeline > li:after
{
    clear:both;
}

.tl-badge,
.bg-circle
{
    width:50px;
    line-height: 50px;
    font-size:20px;
    text-align:center;
    top:16px;
    margin-left:-25px;
}

.tl-badge
{
    margin-top:6px;
}

.bg-circle
{
    background-color: #ddd;
    border-radius:50%;
}

.bg-circle > span {
    padding: 2em;
}

.tl-panel-container-l {
    width: 50%;
    float:left;
}

.tl-panel-container-r {
    width: 50%;
    float:right;
}

.tl-panel {
    width: 90%;
    float:right;
    margin-right:40px;
    border: 1px solid #d4d4d4;
    border-radius:7px;
    padding:20px 25px;
    position:relative;
    box-shadow: 0 1px 6px rgba(0,0,0,0.175);
    background:#fff;
}

.tl-panel-container-r .tl-panel {
    float:left;
    margin-left:40px;
}

.tl-panel:after {
    content:" ";
    position:absolute;
    top:27px;
    right: -14px;
    display:inline-block;
    border-top:14px solid transparent;
    border-left: 14px solid #fff;
    border-right:0 solid #fff;
    border-bottom: 14px solid transparent;
}

.tl-panel-container-r .tl-panel:after {
    border-left-width:0;
    border-right-width:14px;
    left:-14px;
    right:auto;
}

.tl-panel h3 {
    text-transform: uppercase;
    font-size : 1em;
}
</style>